@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: white;
  color: black;
  width: 1200px;
  margin-left: auto;
  margin-top: 150px;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
}

a {
  color: #4169E1;
  text-decoration: none;
}

a:hover {
  color: #00bfff;
  text-decoration: none;
  transition: color 0.2s ease-in-out
}
