@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background-color: white;
  color: black;
  
  width: 1200px;
  margin-left: auto;
  margin-top: 100px;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  font-weight: bolder;
}

.container {
    display: block;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    padding-top: 40px
}

h1 {
  font-weight: bold;
}

h2 {
  color: #898ec1;
  font-weight: bold;
  font-size: 18px
}

#wrong {
  color : red;
}

.dropbtn {
  background-color: #898ec1;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: none;
  margin-right: 5px;
}

button {
  background-color: #898ec1;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 5px
}

input {
  margin-top: 6.5px;
}

img {
  margin-left: 7.5px;
  margin-top: 7.5px;
  margin-bottom: 13.3px;
}
